@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255; */
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.service-card {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  background: #ff9b4f;
  top: 100%;
  left: 60%;
  transition: all 1.5s ease;
  transform: rotate(40deg);
  z-index: 0;
}

.service-card:hover::before {
  top: -50%;
  left: -50%;
}

.service-card-content {
  position: relative;
  z-index: 1;
}

.swiper {
  width: 100%;
  /* height: 100%; */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

/* styles/globals.css */

@keyframes dance {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.dance-animation {
  animation: dance 2s infinite ease-in-out;
}
.full-screen-bg {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;

}

@keyframes moveBall {
  0% {
    transform: translateY(0) translateX(0);
  }
  25% {
    transform: translateY(-100px) translateX(100px);
  }
  50% {
    transform: translateY(100px) translateX(200px);
  }
  75% {
    transform: translateY(-200px) translateX(300px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fd6f00;
  border-radius: 50%;
  animation: moveBall 15s infinite ease-in-out;
  z-index: -999;
}

.ball:nth-child(2) {
  background-color: #000000;
  animation-duration: 7s;
  animation-delay: -2s;
}

.ball:nth-child(3) {
  background-color: #ffcc00;
  animation-duration: 6s;
  animation-delay: -3s;
}

.ball:nth-child(4) {
  background-color: #ff3300;
  animation-duration: 3s;
  animation-delay: -1s;
}
